@media(max-width: 800px){
    .slide__wrapper__title{
        font-size: 25px;
        line-height: 30px;
    }
    .slide__wrapper__btns__select, .slide__wrapper__btns__appoiment{
        width: 200px;
    }
    .slide__wrapper__btns__select{
        margin-right: 7px;
    }
    .slide__wrapper__btns{
        width: 410px;
    }
    .slider-bg{
        height: 400px;
    }
    .slide__wrapper .swiper-pagination, .slide__wrapper .swiper-horizontal > .swiper-pagination-bullets, .slide__wrapper .swiper-pagination-bullets.swiper-pagination-horizontal, .slide__wrapper .swiper-pagination-custom, .slide__wrapper .swiper-pagination-fraction{
        margin-top: 15px;
    }
}
@media(max-width: 700px){
    .promo .slide__wrapper{
        padding-left: 80px;
    }
    .slide__wrapper__title{
        font-size: 20px;
        line-height: 25px;
        max-width: 440px;
        width: 100%;
    }
    .slide__wrapper__subtitle{
        font-size: 13px;
        margin-top: 12px;
    }
    .slide__wrapper__btns{
        margin-top: 20px;
    }
    .slide__wrapper__btns__select, .slide__wrapper__btns__appoiment {
        width: 150px;
        font-size: 12px;
    }
    .slide__wrapper__btns {
        width: 310px;
    }
    .slide__wrapper .swiper-pagination, .slide__wrapper .swiper-horizontal > .swiper-pagination-bullets, .slide__wrapper .swiper-pagination-bullets.swiper-pagination-horizontal, .slide__wrapper .swiper-pagination-custom, .slide__wrapper .swiper-pagination-fraction{
        margin-top: 50px;
    }
    .promo .slider-bg {
        height: 370px;
    }
}

@media(max-width: 570px){
    .slide__wrapper__title{
        margin-top: 50px;
        font-size: 15px;
        line-height: 20px;
        max-width: 350px;
    }
    .slide__wrapper__btns__select, .slide__wrapper__btns__appoiment{    
        height: 30px;
        width: 130px;
    }
    .slide__wrapper__btns__appoiment{
        padding: 1px 5px;
    }
    .slide__wrapper__btns {
        width: 280px;
    }
    .promo .slider-bg {
        height: 300px;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 25px !important;
        height: 25px !important;
    }
}

@media(max-width: 490px){
    .promo .slide__wrapper{
        padding-left: 50px;
    }
}

@media(max-width: 440px){
    .slide__wrapper__title{
        margin-top: 30px;
        font-size: 13px;
    }
    .slide__wrapper__subtitle{
        font-size: 12px;
        max-width: 240px;
        line-height: 15px;
    }
    .promo .slider-bg{
        height: 240px;
    }
    .slide__wrapper .swiper-pagination, .slide__wrapper .swiper-horizontal > .swiper-pagination-bullets, .slide__wrapper .swiper-pagination-bullets.swiper-pagination-horizontal, .slide__wrapper .swiper-pagination-custom, .slide__wrapper .swiper-pagination-fraction{
        margin-top: 15px;
    }
}

@media(max-width: 400px){
    .slide__wrapper__title{
        max-width: 300px;
    }
}

@media(max-width: 360px){
    .slide__wrapper__title{
        font-size: 12px;
        line-height: 15px;
    }
    .slide__wrapper__subtitle{
        font-size: 11px;
        margin-top: 4px;
        line-height: 13px;
    }
    .slide__wrapper__btns{
        flex-direction: column;

    }
    .slide__wrapper__btns__select{
        margin-right: 0;
        width: 100%;
    }
    .slide__wrapper__btns {
        width: 138px;
    }
    .slide__wrapper__btns__appoiment{
        margin-top: 5px;
    }
    .slide__wrapper .swiper-pagination, .slide__wrapper .swiper-horizontal > .swiper-pagination-bullets, .slide__wrapper .swiper-pagination-bullets.swiper-pagination-horizontal, .slide__wrapper .swiper-pagination-custom, .slide__wrapper .swiper-pagination-fraction{
        margin-top: 10px;
    }
}

@media(max-width: 330px){
    .promo .slide__wrapper{
        padding-left: 40px;
    }
}

//responsive section about

@media(max-width: 940px){
    .about{
        margin-top: 40px;
    }
    .about__wrapper__title{
        font-size: 28px;
        line-height: 30px;
    }
    .about__wrapper__subtitle{
        font-size: 15px;
        line-height: 20px;
    }
    .about__wrapper__descr{
        margin-top: 15px;
        font-size: 15px;
        line-height: 20px;
    }
}

@media(max-width: 560px){
    .about__wrapper__title{
        font-size: 25px;
        line-height: 28px;
    }
    .about__wrapper__subtitle{
        font-size: 13px;
        line-height: 15px;
    }
}


@media(max-width: 460px){
    .about__wrapper__pretitle{
        font-size: 18px;
        line-height: 18px;
    }
    .about__wrapper__title{
        font-size: 20px;
        line-height: 24px;
    }
    .about__wrapper__subtitle{
        font-size: 12px;
        line-height: 13px;
        margin-top: 3px;
    }
    .about__wrapper__descr{
        font-size: 13px;
        line-height: 15px;
    }
}

//responsive section clinics

@media(max-width: 940px){
    .tab__info__wrapper__box__content__item__title{
        font-size: 24px;
        line-height: 29px;
    }
    .tab__info__wrapper__box__content__item__phone{
        justify-content: flex-end;
    }
    .phone_number,.tab__info__wrapper__box__content__item__mail{
        font-size: 15px;
    }
}
@media(max-width: 900px){
    .tab__info__wrapper__box__content{
        flex-wrap: wrap;

    }
    .tab__info__wrapper__box__content:nth-child(2){
        max-width: 450px;
        width: 100%;
       
    }
    .tab__info__wrapper__box>.tab__info__wrapper__box__content:nth-child(2)>.tab__info__wrapper__box__content__item:last-child{
        margin-top: 20px;
        display: flex;
        align-items: center;
        .tab__info__wrapper__box__content__item__mail{
            margin-top: 0;
            margin-left: 20px;
        }
    }
    .phone_number,.tab__info__wrapper__box__content__item__mail{
        font-size: 18px;
    }
    .street_wrapper {
        margin: 0 auto;
    }
}

@media(max-width: 800px){
    .tab__info__wrapper__box__content__item__title {
        font-size: 19px;
        line-height: 20px;
    }
}

@media(max-width: 715px){
    .tab__info__wrapper{
        display: flex;
        flex-direction: column;
        .tab__info__wrapper__box__img {
           margin-bottom: 20px;
            img{
            width: 100%;
            height: 150px;
            object-fit: cover;
           }
        }
    }
}

@media(max-width: 525px){
    .tab__info__wrapper__box__content:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: unset;
        padding-bottom: 15px;
    }
    .tab__info__wrapper__box > .tab__info__wrapper__box__content:nth-child(2) > .tab__info__wrapper__box__content__item:last-child{
        justify-content: space-between;
        width: 100%;
    }
    .clinics__wrapper__title {
        font-size: 20px;
        line-height: 25px;
        max-width: 300px;
        width: 100%;
    }
}

@media(max-width: 470px){
    .tab__info__wrapper__box__content:nth-child(2){
        flex-direction: column;
        align-items: center;
        text-align: center;
        .tab__info__wrapper__box__content__item:first-child{
            margin-bottom: 10px;
        }
    }
    .tab__info__wrapper__box > .tab__info__wrapper__box__content:nth-child(2) > .tab__info__wrapper__box__content__item:last-child{
        flex-direction: column;

    }
    .tab__info__wrapper__box > .tab__info__wrapper__box__content:nth-child(2) > .tab__info__wrapper__box__content__item:last-child .tab__info__wrapper__box__content__item__mail{
        margin-left: 0;
        margin-top: 10px;
    }
    
    .tab__info__wrapper__box__content{
        text-align: center;
        margin: 0 auto;
    }
    .tab__info{
        padding-left: 0;
    }
    .tab__info__wrapper__box__content{
        justify-content: center;
        margin: unset;
    }
    .tab__info__wrapper__box__content__btn{
        max-width: 285px;
        width: 100%;
        display: block;
        margin: 0 15px;
        margin-top: 10px;
    }
    .tab__info__wrapper__box__img{
        margin-right: 0;
    }
}

//responsive section consulting

@media(max-width: 840px){
    .consulting__wrapper__box__item__title{
        font-size: 28px;
        max-width: 300px;
        width: 100%;
        line-height: 35px;
        margin-bottom: 15px;
    }
    .consulting__wrapper__box__item{
        max-width: 300px;
    }
    .consulting__wrapper__box:nth-child(2){
        flex-direction: column;
    }
    .consulting__wrapper__box__card {
        margin-right: 15px;
        height: unset;
    }
}

@media(max-width: 660px){
    .consulting__wrapper__box:first-child{
        flex-direction: column;
        text-align: center;
    }
}

@media(max-width: 450px){
    .consulting__wrapper__box__card,.consulting__wrapper__box__item{
        margin-right: 0;
    }
    .consulting__wrapper__box__item__title{
        font-size: 23px;
        line-height: 28px;
    }
    .consulting__wrapper__box__item__sutitle{
        text-align: left;
    }
}

//responsive section diagnostic

@media(max-width: 950px){
    .diagnostic{
        padding-top: 50px;
    }
    .diagnostic__wrapper__box__item__title{
        font-size: 28px;
        line-height: 30px;
    }
    .diagnostic__wrapper__box__item__subtitle{
        font-size: 15px;
        line-height: 20px;
    }
    .diagnostic__wrapper__box__item__descr{
        font-size: 14px;
        line-height: 17px;
    }
}

@media(max-width: 920px){
    .diagnostic_slider{
        margin-left: unset !important;
    }
    .det__wrapper{
        align-items: center;
        text-align: center;
    }
    .det__wrapper__title{
        font-size: 14px;
        line-height: 18px;
    }
    .diagnostic__info__box__descr{
        p{
            font-size: 13px;
            line-height: 15px;
        }
    }
    .diagnostic__info{
        margin-left: 0;
    }
}

@media(max-width: 800px){
    .diagnostic__info__box__menu{
        margin-right: 0;
    }
    .diagnostic__info__box__btn{
        max-width: 285px;
        width: 100%;
    }
    .diagnostic__info__box__descr {
        max-width: 685px;
        width: 100%;
        margin-right: 15px;
    }
    .diagnostic__info__box__descr p{
        margin-top: 15px;
    }
    .diagnostic__info__box__menu{
        width: 259px;
    }
}

@media(max-width: 700px){
    .diagnostic__wrapper__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &__item{
            margin: 0 auto;
            text-align: center;
            width: 100%;
            &__title{
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

@media(max-width: 630px){
    .diagnostic__info__box__menu__item{
        font-size: 13px;
        line-height: 15px;
    }
    .diagnostic__info{
        padding: 0 15px;
    }
    .diagnostic__det__title{
        font-size: 15px;
        line-height: 20px;
    }
}

@media(max-width: 600px){
    
    .diagnostic-info-show {
        display: flex;
        flex-direction: column;
    }
    .diagnostic__info__box__title{
        margin-top: 0;
    }
    .diagnostic__info__box__btn{
        margin-bottom: 20px;
    }
}

@media(max-width: 570px){
    .pag2{
        bottom: 0px !important;
    }
    .slider_btns{
        width: 130px;
    }
}

@media(max-width: 515px){
    .diagnostic__det__title{
        max-width: 230px;
        width: 100%;
    }
}

@media(max-width: 400px){
    .diagnostic__det__title{
        font-size: 13px;
        line-height: 15px;
    }
    .diagnostic__det{
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .diagnostic__info{
        margin-right: 0;
    }
}

@media(max-width: 380px){
    .diagnostic__info__box__menu{
        max-width: 260px;
        width: 100%;
    }
    .slider_btns{
        top: 100px;
    }
    .det__wrapper__title{
        font-size: 12px;
        line-height: 15px;
    }
}

//responsive section banners

@media(max-width: 950px){
    .bg-hand img{
        object-fit: cover;
    }
}

@media(max-width: 800px){
    .banners__wrapper__box__title{
        font-size: 19px;
        line-height: 26px;
        max-width: 250px;
    }
    .banners__wrapper__box__slogan{
        font-size: 19px;
        line-height: 26px;
        max-width: 430px;
    }

    .banners__wrapper__box__descr,.banners__wrapper__box__info{
        max-width: 370px;
        line-height: 19px;
        font-size: 14px;
    }
    .banners__wrapper__box:first-child{
        height: 360px;
        padding-top: 30px;
    }
}

@media(max-width: 580px){
    .banners__wrapper__box__btn{
        margin-top: 25px;
    }
    .banners__wrapper__box:first-child{
        height: 280px;
    }
    .banners__wrapper__box:last-child{
        min-height: 320px;
        padding-top: 40px;
    }
    .banners__wrapper__box__button{
        margin-top: 20px;
    }
    .banners__wrapper__box__logo{
        img{
            width: 80px;
        }
    }
    .banners__wrapper__box__title{
        margin-top: 5px;
    }
}

@media(max-width: 530px){
    .banners__wrapper__box__title,.banners__wrapper__box__slogan{
        font-size: 16px;
        line-height: 21px;
    }
    .banners__wrapper__box__slogan{
        max-width: 360px;
    }
    .banners__wrapper__box__descr{
        font-size: 12px;
        line-height: 14px;
        max-width: 230px;
    }
    .banners__wrapper__box__info{
        font-size: 14px;
        line-height: 14px;
    }
    .banners__wrapper__box__btn{
        height: 30px;
        width: 170px;
        font-size: 13px;
    }
    .banners__wrapper__box__button{
        width: 230px;
        font-size: 13px;
        height: 40px;
    }
    .banners__wrapper__box:first-child {
        height: 250px;
        padding-top: 16px;
        padding-left: 20px;
        margin-top: 40px;
    }
    .banners__wrapper__box:last-child{
        padding-top: 16px;
        padding-left: 20px;
        margin-top: 40px;
        padding-bottom: 10px;
        padding-right: 5px;
        min-height: 270px;
    }
}

//responsive section service

@media(max-width: 890px){
    .service__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .service__wrapper__box{
        width: 100%;
    }
    .service__wrapper__box:last-child{
        margin-left: 0;
        margin: 0 auto;
        text-align: center;
    }
    .service__wrapper__box__descr,.service__wrapper__box__btn{
        margin: 0 auto;
    }
    .service__wrapper__box__btn{
        margin-top: 20px;
    }
    .service__wrapper__box:first-child{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
    .service__wrapper__box__subtitle{
        margin: 0;
    }
}

@media(max-width: 755px){
    .service__wrapper__box:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .service__wrapper__box__partners{
        margin-top: 20px;
    }
    .service__wrapper__box__subtitle{
        margin-top: 10px;
    }
    .service{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media(max-width: 385px){
    .service__wrapper__box__partners{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .service__wrapper__box__partners__img:first-child{
        margin-right: 0;
    }
    .service__wrapper__box__partners__img{
        margin-top: 10px;
    }
    .service__wrapper__box__descr p:nth-child(2){
        margin-top: 20px;

    }
    .service__wrapper__box__title{
        font-size: 20px;
        line-height: 26px;
    }
    .service__wrapper__box__partners__img{
        width: 100%;
    }
    .service__wrapper__box__btn{
        max-width: 285px;
        width: 100%;
    }
    .service__wrapper__box:first-child{
        flex-wrap: unset;
    }
}

//responsive section news

@media(max-width: 570px){
    .news__wrapper__box__tabs{
        height: 50px;
    }
    .news__wrapper__box__tabs__item {
        padding: 9px 32px;
    }
    .news__wrapper__box__tabs{
        width: 240px;
        font-size: 12px;
    }
    .pag3{
        bottom: 0px !important;
    }
}

@media(max-width: 400px){
    .news{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .news__wrapper__box__tabs{
        margin-top: 20px;
    }
}

@media(max-width: 430px){
    .news{
        .slider_btns{
            top: 94px;
            right: -10px;
        }
    }
}