html,
body {
	height: 100%;
	font-family: 'Open Sans';
	font-style: normal;	
	font-weight: 400;
	font-size: 15px;
  color: #171717;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.footer{
  height: 150px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.white{
    color: #B90D06;
    border: 1px solid #B90D06;
    border-radius: 2px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 184px;
    cursor: pointer;
}

.red{
	display: flex;
	justify-content: center;
	align-items: center;
  background: #B90D06;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  padding: 16px 0;
	width: 186px;
  cursor: pointer;
}



