$red: #B90D06;
$blue: #0C4C91;
$consult: #121212;
$titles: #171717;
$text: #31424E;

@mixin text {
    font-weight: 400;
    value: $text;
}

@mixin title{
    font-weight: 800;
    text-transform: uppercase;
    color: $titles;
}

@mixin h3{
    font-weight: 800;
    text-align: left;
    color: $blue;
}