.contacts{
    margin-top: 14px;
    padding-top: 73px;
    padding-bottom: 82px;
    position: relative;
    background: #F0F9FF;
    overflow: hidden;
    z-index: 9;
    &__map{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        display: flex;
        z-index: -1;
        flex-direction: row;
        justify-content: space-between;
        span{
            position: relative;
            min-width: 50%;
        }
        iframe{
            max-width: 950px;
            width: 100%;
            height: 567px;
        }
    }
}

.contacts__wrapper{
    &__title{
     @include h3;  
     font-size: 32px; 
     line-height: 44px;
    }
    &__streets{
        margin-top: 30px;
        color: #000000;
        line-height: 22px;
        max-width: 275px;
        width: 100%;
    }
    &__box{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
        &__number{
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            color: #000000;
        }
        &__socials{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90px;
            margin-left: 10px;
        }
    }
    &__form{
        fieldset{
            position: relative;
            border: 1px solid #0C4C91;
            border-radius: 3px;
            height: 51px;
            display: flex;
            align-items: center;
        }
        legend{
            font-size: 13px;
            line-height: 18px;
            color: #8E8E8E;
            margin-left: 5px;
            padding-left: 7px;
        }
        input{
            border: none;
            background: none;
            padding-left: 12px;
            outline: none;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #222222;
        }
        &__input{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            &__item{
                margin-top: 20px;
                max-width: 495px;
                width: 100%;
                input{
                    width: 100%;
                }
                &:first-child{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    fieldset{
                        max-width: 239px;
                        width: 100%;
                    }
                }
                &:last-child{
                        max-width: 495px;
                        width: 100%;
                }
            }
        }
        &__btn{
            margin-top: 16px;
            padding: 14px 0;
            width: 284px;
        }
    }
}

.centre{
    padding-top: 63px;
    padding-bottom: 89px;
}

.centre__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
   &__box{
    padding-top: 20px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 30px;
    width: 383px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 20px rgba(12, 76, 145, 0.1);
    border-radius: 3px;
    &__phone{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 25px;
        color: $red;
        a{
            border-bottom: 1px solid $red;
        }
        span{
            margin-right: 5px;
        }
    }
    &__streets{
        font-size: 13px;
        line-height: 21px;
        color: #000000;
        margin-top: 8px;
        span{
            font-weight: 600;
            line-height: 20px;
            color: #000000;
            margin-top: 2px;
        }
    }
    &__img{
        width: 100%;
        height: 150px;
        border-radius: 3px;
        margin-top: 17px;
    }
    &__item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        &__data{
            &:last-child{
                margin-right: 30px;

            }
            &__day{
                display: flex;
                flex-direction: column;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
                span{
                    display: block;
                }
            }
            &__analisys{
                margin-top: 10px;
                font-size: 13px;
                line-height: 21px;
                color: #000000;
                max-width: 110px;
                width: 100%;
            }
        }
    }
    &__mail{
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
        color: #0C4C91;
    }
    &__btn{
        margin-top: 12px;
        padding: 14px 0;
        width: 100%;
    }
   }
}