.fillal{
    margin-top: 23px;
}

.fillial__wrapper{
    position: relative;
    &__title{
        @include h3;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
    }
    &__box{
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1200px;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 0px 20px rgba(12, 76, 145, 0.05);
        border-radius: 3px;
        padding: 32px 25px;
    }
    fieldset{
        position: relative;
        border: 1px solid #C0DEED;
        border-radius: 3px;
        max-width: 1144px;
        width: 100%;
        height: 51px;
        display: flex;
        align-items: center;
        margin-right: 19px;
    }
    legend{
        font-size: 13px;
        line-height: 18px;
        color: #8E8E8E;
        margin-left: 5px;
        padding-left: 7px;
    }
    select{
        background: none;
        border: none;
        width: 100%;
        margin-left: 7px;
        color: $red;
    }
    option{
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }
}

.doc{
    padding-top: 100px;
    padding-bottom: 60px;
    background: #F0F9FF;
    margin-top: 83px;
}
.doc__wrapper__box__info__data{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #030303;
    margin-top: 2px;
}

.contact__wrapper__box__schedule__info__hour{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-top: 6px;
}

.doc__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px 20px;
    &__box{    
        position: relative;
        padding-top: 27px;
        padding-bottom: 30px;
        padding-left: 28px;
        padding-right: 28px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        max-width: 575px;
        width: 100%;
        &__ico{
            position: absolute;
            display: flex;
            top: 22px;
            left: 28px;
            flex-direction: row;
            align-items: center;
            span{
                margin-right: 6px;
            }
        }
        &__reception{
            margin-top: 22px;
            font-size: 12px;
            line-height: 18px;
        }
        &__profil{
            position: absolute;
            top: 27px;
            right: 28px;
            width: 119px;
            height: 119px;border: 2px solid #FFFFFF;
            filter: drop-shadow(0px 0px 20px rgba(12, 76, 145, 0.1));
            border-radius: 50%;
        }
        &__info{
            margin-top: 16px;
            &__name{
                font-weight: 700;
                font-size: 20px;
                line-height:27px;
                color: #000000;
            }
            &__career{
                font-weight: 600;
                font-size: 15px;
                line-height: 24px;
                color: #B90D06;
                margin-top: 2px;
            }
            &__experience{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 20px;
                line-height: 20px;
                span{
                    width: 4px;
                    height: 4px;
                    background: #AAC0D9;
                    border-radius: 50%;
                    margin: 0 8px;
                }
            }
            &__time{
                margin-top: 22px;
                &__free{
                    line-height: 20px;
                }
                &__data{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #030303;
                    margin-top: 2px;
                }
            }

            &__btns{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 17px;
                &__btn{
                    max-width: 260px;
                    width: 100%;
                    padding: 18px 0;
                    margin-bottom: 30px;
                    &:first-child{

                        margin-right: 13px;
                    }
                    &:last-child{
                        height: 55px;
                    }
                }
            }

        }
        &__line{
            background: #F0F9FF;
            max-width: 533px;
            width: 100%;
            height: 4px;
        }
        &__services{
            margin-top: 26px;
            &__title{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #030303;
            }
            &__content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                line-height: 27px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
        &__about{
            margin-top: 23px;
            margin-bottom: 20px;
            &__title{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #030303;
            }
            &__descr{
                color: #000000;
                line-height: 21px;
                margin-top: 11px;
            }
            &__link{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 12px;
                color: #B90D06;
                cursor: pointer;
                span{
                    margin-left: 10px;
                    margin-top: 4px;
                }
            }

        }
        &__video{
            margin: 23px 0;
            &__title{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #030303;
            }
            &__descr{
                font-size: 13px;
                color: #000000;
                line-height: 21px;
                margin-top: 11px;
            }
            &__link{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 12px;
                color: #B90D06;
                cursor: pointer;
                span{
                    margin-left: 10px;
                    margin-top: 4px;
                }
            }
        }
        &__share{
            margin-top: 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            font-size: 13px;
            line-height: 20px;
            span{
                margin-left: 11px;
            }
        }
    }
}

.contact{
    padding-top: 68px;
    padding-bottom: 87px;
}

.contact__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__box{
        &__street{
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            max-width: 560px;
            width: 100%;
            display: flex;
            flex-direction: column;
            span{
                font-weight: 800;
                font-size: 32px;
                line-height: 40px;
            }
        }
        &__schedule{
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            &__info{
                &:first-child{
                    margin-right: 120px;
                }
                &__day{
                    font-weight: 700;
                    line-height: 19px;
                    color: #000000;
                }
                &__hours{
                    margin-top: 6px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                }
                &__analysis{
                    font-size: 13px;
                    line-height: 18px;
                    color: #000000;
                    margin-top: 8px;
                }
            }
        }
        &__phone{
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            margin-top: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .phone{
                border-bottom: 1px solid #000000;
                height: 27px;
            }
            span{
                margin-right: 7px;
            }
        }
        &__sliders{        
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            
        }
        iframe{
            border: 0;
            width: 590px;
            height: 506px;
            margin-left: 20px;
        }
    }
}

.contact_slider{
    width: 285px;
    height: 231px;
    position: relative;
    margin: unset !important;
    border-radius: 3px;
}

.contact__btns{
    position: absolute;
    // width: 285px;
    z-index: 10;
    bottom: 20px;
    left: 0;
    right: 0;
    .swiper-button-next, .swiper-button-prev{
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 3px;
        background: none;
    }
    .swiper-button-next::after,.swiper-button-prev::after{
        color: #fff
    }
    .pag4{
        color: #fff;
        bottom: -5px;
        z-index: 0;
    }
}

.rotate{
    position: relative;
    border-radius: 3px;
    margin-left: 20px;  
    span{
        position: absolute;
        bottom: 11px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.modal{
    max-width: 584px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // top: 17px;
    transition: 0.5s all;
    top: -500%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(9, 62, 119, 0.2);
    border-radius: 6px;
    padding-top: 30px;
    &__close{
        position: absolute;
        top: 35px;
        right: 28px;
        cursor: pointer;
    }
    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: $blue;
    }
    &__box{
        display: flex;
        flex-direction: row;
        width: 100%;
        background: #F0F9FF;
        padding: 0px 25px;
        margin-top: 26px;
        &__img{
            margin-right: 24px;
        }
        &__info{
            padding-top: 32px;
            font-weight: 600;
            &__name{
                font-size: 18px;
                line-height: 25px;
                color: #000000;
            }
            &__speciality{
                line-height: 22px;
                color: #010101;
            }
        }
    }
    &__accept{
        margin-left: 44px;
        font-size: 13px;
        line-height: 20px;
        margin-top: 18px;
    }
    &__street{
        margin-top: 4px;
            width: 100%;
            padding: 14px 26px 13px 16px;
            max-width: 530px;
            width: 100%;
            background: #F0F9FF;
            border: 1px solid #F0F9FF;
            border-radius: 3px;
            font-weight: 600;
            line-height: 21px;
            color: $red;
            margin: 0 auto;
    }
    &__hours{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 46px;
        margin-top: 4px;
        span{
            margin-right: 9px;
        }
    }
    &__wrapper{
        margin-left: 30px;
        margin-right: 25px;
    }
}


.modal-services-show{
    display: block;
}


.modal-carousel-months{
    margin-top: 60px;
    .swiper-button-next, .swiper-button-prev{
        border: 1px solid #0C4C91;
        border-radius: 3px;
        top: 25px;
        width: 30px !important;
        height: 30px !important;
    }
    .swiper-button-next{
        right: 0;
    }
    .swiper-button-prev{
        left: 0;
    }
}

.slide_month{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    height: 33px;
    color: #000000;
}

.modal-carousel-days{
    margin-top: 40px;
    .swiper-button-next, .swiper-button-prev{
        background: none;
        top: 40px;
        width: 5px !important;
        height: 5px !important;
    }
    .swiper-button-next{
        right: 0;
    }
    .swiper-button-prev{
        left: 0;
    }
    .slide_day{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 600;
        line-height:21px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        span{
            font-size: 12px;
            line-height: 18px;
            margin-top: 4px;
        }
    }
    .slide_day_active{
        color: $blue;
    }
    .slide-day-show{
        border-top: 1px solid #C0DEED;
        border-right: 1px solid #C0DEED;
        border-left: 1px solid #C0DEED;
        border-bottom: 2px solid #ffffff;
        border-radius: 6px 6px 0px 0px;
        z-index: 2;
    }
}

.modal__wrapper__days__hours{
    border: 1px solid #C0DEED;
    border-radius: 3px;
    padding: 20px 10px 20px 10px;
    margin-top: -1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    &__item{
        cursor: pointer;
        max-width: 58px;
        background: #F0F9FF;
        border: 1px solid #C0DEED;
        border-radius: 3px;
        padding: 8px 10px;
        color: #000000;
    }
    .modal_hours_free{
        background: #0C4C91;
        border: 1px solid #0C4C91;
        color: #ffffff
    }
    .modal-hour-active{
        background: $red;
        border: 1px solid $red;
    }
}

.modal__wrapper__timezone{
    font-size: 12px;
    line-height: 18px;
    margin-left: 19px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.modal__wrap{
    background: #F0F9FF;
    padding-top: 30px;
    padding-bottom: 65px;
    margin-top: 25px;
    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #B90D06;
        text-align: center;
    }
    &__form{
        fieldset{
            position: relative;
            border: 1px solid #0C4C91;
            border-radius: 3px;
            height: 51px;
            display: flex;
            align-items: center;
        }
        legend{
            font-size: 13px;
            line-height: 18px;
            color: #8E8E8E;
            margin-left: 5px;
            padding-left: 7px;
        }
        input{
            border: none;
            background: none;
            padding-left: 12px;
            outline: none;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #222222;
        }
        &__input{
            display: flex;
            flex-direction: column;
            &__item{
                margin: 0 auto;
                margin-top: 20px;
                max-width: 531px;
                width: 100%;
                input{
                    width: 100%;
                }
                &:first-child{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    fieldset{
                        max-width: 239px;
                        width: 100%;
                    }
                }
                &:last-child{
                        max-width: 531px;
                        width: 100%;
                }
            }
        }
    }
    &__info{
        font-size: 13px;
        line-height: 20px;
        color: #000000;
        margin-top: 12px;
        margin-left: 30px;
    }
    
    &__btn{
        padding: 14px 0;
        width: 100%;
        width: 529px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
}

.modal-show{
    top: 70px;
    transition: 0.5s all;
    z-index: 9999;
}

.modal__wrap{
    display: none;
}
.modal-wrap-active{
    display: inherit;
}