.container__header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header{
    border: 1px solid #C0DEED;
}
.nav__wrapper{
    padding: 11px 0;
    background: #F0F9FF;
    border-bottom: 1px solid #C0DEED;
    &__box{
        display: flex;
        flex-direction: row;
        &:first-child{
        max-width: 1300px;
        width: 100%;
        justify-content: space-between;
        margin-right: 73px;
        }
        &__pretitle{
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: $titles;
        }
        &__menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 274px;
            &__item{
                font-size: 13px;
                line-height: 18px;
                &__link{
                    cursor: pointer;    
                    color: $titles;
                }
            }
        }
        &__lang{
            font-size: 13px;
            line-height: 18px;
            color: #B2B2B2;
            margin-right: 21px;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.lang-active{
    height: 26px;
    border-bottom: 1px solid #0C4C91;
    color: $blue;
}

.header__wrapper{
    padding-top: 27px;
    height: 106px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(12, 76, 145, 0.05);
    border-radius: 3px;
    &__box{
        &:first-child{
            display: block;
            max-width: 424px;
            width: 100%;
        }
        &:last-child{
            margin-left: 37px;  
        }
        &:nth-child(3){
            margin-left: 74px;
        }
        &__logo{
            display: flex;
            width: 243px;
            justify-content: start;
        }
        &__btns{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 490px;
            &__search{
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                position: relative;
                .search_icons{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                    cursor: pointer;
                }
            }
        }
        &__phone{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            color: $red;
            height: 33px;
            width: 224px;
            border-bottom: 1px solid $red;
            .phone{
                margin-right: 5px;
            }
        }

        &__messenger{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 3px;
            font-weight: 300;
            font-size: 13px;
            line-height: 18px;
            color: $titles;
            span{
                margin-top: 7px;
                margin-left: 5px;
            }
        }
        &__call{
            display: flex;
            justify-content: center;
            width: 194px;
        }
        
    }
}

.search{
    border: 1px solid #C0DEED;
    border-radius: 3px;
    width: 285px;
    height: 51px;
    padding-left: 15px;
    &::placeholder{
        font-weight: 300;
        font-size: 13px;
        color: #999999;
        padding-left: 15px;
    }
}

.logo{
    width: 243px;
}

.white{
    color: #B90D06;
    border: 1px solid #B90D06;
    border-radius: 2px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    width: 184px;
}

.red{
    background: #B90D06;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    padding: 16px 0;
}
